<!DOCTYPE html>

<html ng-app="AngJS">
    <head>
        <title>GrosClientTweeterTasVu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="libs/bootstrap.min.css" rel="stylesheet">
        <link href="libs/font-awesome.min.css" rel="stylesheet">
        <link href="styles/main.css" rel="stylesheet">
    </head>
    <body ng-controller="MainCtrl">

        <header>
        </header>
        

        <div class="col-md-6 col-md-offset-3">
            <div class="row" id="input">
                <form>
                    <div class="form-group">
                        <label for="exampleInputName2">Name</label>
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="Name" ng-model="currentTweet.name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email" ng-model="currentTweet.email">
                    </div>
                </form>   
            </div>
            <div class="row" id="tweet">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="message" placeholder="Message" ng-model="currentTweet.message">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" id="button_tweet" onclick="message.value=''" ng-click="sendTweet();">Tweet</button>
                    </div>
                </form>   
            </div>
            <div class="row" ng-show="tweets">
                <div class="row" id="messages" ng-repeat="tweet in tweets | orderBy: 'date' : true">
                    <div class="col-md-2">
                        <img src="{{getImgLink(tweet.authorEmailHash)}}">   
                    </div>
                    <div class="col-md-10 infos_tweet">
                        <div class="row">
                            <div class="namePoster">{{tweet.authorName}}</div>
                            <div class="messagePoster">{{tweet.message}}</div>
                        </div>
                        <div class="row">
                            <a href="#" class="reply">Reply</a>
                            <div class="time">{{tweet.date | ago}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    <script src="libs/jquery.min.js"></script>
    <script src="libs/bootstrap.min.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="scripts/momentjs.js"></script>
    <script src="scripts/index.js"></script>
    <script src="scripts/MainCtrl.js"></script>
    
        
    </body>
</html>
