@media (max-width : 2000px) {
    header {
    	height: 170px;
        background-image: url(../header_lg.jpg); 
    }
    body {
    	background-color: black;
    }
}

@media (max-width : 970px) {
    header {
        background-image: url(../header_md.jpg); 
    }
}

@media (max-width : 768px) {
    header {
        background-image: url(../header_xs.jpg); 
    }
}