@media (max-width : 1170px) {
    body {
        background-image: url(../header_lg.jpg); 
    }
}

@media (max-width : 970px) {
    body {
        background-image: url(../header_md.jpg); 
    }
}

@media (max-width : 768px) {
    body {
        background-image: url(../header_xs.jpg); 
    }
}